* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

nav {
    min-height: 8vh;
    display: flex;
    background-color: #5d4954;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-weight: bold;
}

.burger {
    display: none
}

.burger div {
    width: 2.5rem;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: .5rem;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

/* @media screen and (max-width: 768px) {
    body {
        display: none;
    }
} */